/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none; }

* {
  scrollbar-width: thin; }

::-webkit-scrollbar {
  width: 5px;
  background-color: aqua; }

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #2d77ff; }

html,
body {
  scroll-behavior: smooth; }

/* Change text & background color */
a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit; }

button,
button:hover,
button:focus,
button:active {
  outline: none; }

img {
  vertical-align: middle; }

ul,
ol {
  list-style: none; }

@font-face {
  font-family: Typold-Black;
  src: url(../fonts/Typold-Black.otf); }
@font-face {
  font-family: Typold-Bold;
  src: url(../fonts/Typold-Bold.otf); }
@font-face {
  font-family: Typold-Medium;
  src: url(../fonts/Typold-Medium.otf); }
@font-face {
  font-family: Typold-Regular;
  src: url(../fonts/Typold-Regular.otf); }
#content-box {
  padding: 30px;
  background-color: #fff;
  width: 1142px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 100px auto; }
  #content-box .black-div {
    height: 1250px;
    background-color: #010A02;
    position: relative; }
    #content-box .black-div .header-box {
      height: 115px;
      width: 425px;
      background-color: #fff;
      position: absolute;
      z-index: 99;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center; }
      #content-box .black-div .header-box h2 {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 600;
        font-size: 62px;
        color: #000; }
      #content-box .black-div .header-box p {
        font-family: Typold-Medium;
        font-weight: 500;
        font-size: 26px;
        color: #000; }
    #content-box .black-div .first-part {
      position: relative;
      height: 570px;
      background-image: url(../images/first.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      #content-box .black-div .first-part .first-text-box {
        position: absolute;
        height: 165px;
        width: 600px;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center; }
        #content-box .black-div .first-part .first-text-box h2 {
          font-family: Typold-Medium;
          font-weight: 500;
          font-size: 26px;
          line-height: 47px;
          color: #FFFFFF; }
        #content-box .black-div .first-part .first-text-box h3 {
          font-family: Typold-Medium;
          font-weight: 500;
          font-size: 34.812px;
          line-height: 47px;
          color: #FFFFFF; }
        #content-box .black-div .first-part .first-text-box h1 {
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 500;
          font-size: 72px;
          line-height: 86px;
          color: #FFFFFF; }
    #content-box .black-div .image-boxes {
      position: absolute;
      top: 570px;
      left: 0;
      display: flex;
      height: 275px;
      z-index: 99;
      transform: translateX(-50%);
      left: 50%; }
      #content-box .black-div .image-boxes .img-one {
        flex-basis: 30%;
        margin-right: 45px; }
      #content-box .black-div .image-boxes .img-two {
        margin-top: 26px;
        flex-basis: 30%; }
      #content-box .black-div .image-boxes .img-three {
        margin-left: 45px;
        flex-basis: 30%; }
    #content-box .black-div .border-box {
      width: 995px;
      height: 620px;
      border: 5px solid #fff;
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9; }
    #content-box .black-div .icon-text ul {
      padding-top: 270px;
      padding-left: 180px; }
      #content-box .black-div .icon-text ul li {
        display: inline-block;
        padding: 0px 110px 0px 0px; }
        #content-box .black-div .icon-text ul li img {
          margin-bottom: 18px; }
        #content-box .black-div .icon-text ul li p {
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 500;
          font-size: 43px;
          line-height: 52px;
          color: #C7B88F;
          display: inline-block;
          padding: 20px 10px; }
    #content-box .black-div .center-text {
      font-family: Typold-Regular;
      text-align: center;
      font-weight: 400;
      font-size: 29px;
      line-height: 40px;
      color: #FFFFFF;
      padding-top: 0px;
      padding-bottom: 30px; }
      #content-box .black-div .center-text span {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;
        color: #C7B88F;
        margin-bottom: -10px; }
    #content-box .black-div .logo {
      padding-top: 30px;
      text-align: center; }
    #content-box .black-div .last-part {
      text-align: center; }
      #content-box .black-div .last-part p {
        font-family: Typold-Regular;
        font-weight: 400;
        font-size: 29px;
        line-height: 40px;
        color: #FFFFFF;
        display: inline-block; }
      #content-box .black-div .last-part img {
        display: inline-block; }
  #content-box .footer-div {
    height: 90px;
    text-align: center;
    color: #fff;
    background-color: #C7B88F; }
    #content-box .footer-div p {
      font-family: 'Barlow Condensed', sans-serif;
      text-align: center;
      font-weight: 500;
      font-size: 44px;
      line-height: 53px;
      color: #010A02;
      line-height: 90px; }

#broucher2-content-box {
  background-color: #fff;
  width: 1142px;
  height: 1400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  margin: 100px auto; }
  #broucher2-content-box .list-one {
    position: absolute;
    top: 673px;
    left: 30px;
    width: 300px;
    height: 300px;
    z-index: 9; }
    #broucher2-content-box .list-one li {
      display: inline-block;
      padding: 0px 60px 0px 0px; }
    #broucher2-content-box .list-one img {
      display: inline-block;
      width: 60%;
      margin-top: -25px; }
    #broucher2-content-box .list-one p {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 700;
      font-size: 42px;
      line-height: 100%;
      color: #C7B88F;
      display: inline-block;
      padding-left: 10px; }
  #broucher2-content-box .list-two {
    position: absolute;
    top: 773px;
    left: 30px;
    width: 350px;
    height: 300px;
    z-index: 9; }
    #broucher2-content-box .list-two li {
      display: inline-block;
      padding: 0px 0px 0px 0px; }
    #broucher2-content-box .list-two .first img {
      width: 15%; }
    #broucher2-content-box .list-two img {
      display: inline-block;
      width: 50%;
      margin-top: -25px; }
    #broucher2-content-box .list-two p {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 700;
      font-size: 38px;
      line-height: 100%;
      color: #C7B88F;
      display: inline-block;
      padding-left: 10px; }
  #broucher2-content-box .black-side {
    clip-path: polygon(0 0, 17% 0, 66% 100%, 0% 100%);
    height: 100%;
    width: 100%;
    background: #010A02;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.45); }
    #broucher2-content-box .black-side .logo {
      padding: 20px; }
      #broucher2-content-box .black-side .logo img {
        width: 16%; }
    #broucher2-content-box .black-side .middle-text {
      padding-top: 800px;
      padding-left: 30px; }
      #broucher2-content-box .black-side .middle-text p {
        font-family: 'Arvo', serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF; }
        #broucher2-content-box .black-side .middle-text p span {
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 500;
          font-size: 47px;
          line-height: 100%;
          color: #C7B88F; }
    #broucher2-content-box .black-side .images-boxes {
      padding-top: 60px;
      padding-left: 80px; }
      #broucher2-content-box .black-side .images-boxes img {
        margin-left: -75px; }
    #broucher2-content-box .black-side .last-part {
      padding-top: 30px;
      padding-left: 30px; }
      #broucher2-content-box .black-side .last-part p {
        font-family: Typold-Regular;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #FFFFFF;
        display: inline-block; }
      #broucher2-content-box .black-side .last-part img {
        display: inline-block; }
  #broucher2-content-box .center-design {
    position: absolute;
    top: 250px;
    left: 0;
    height: 775px;
    width: 100%;
    background-image: url(../images/center-design.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  #broucher2-content-box .white-side-text {
    text-align: right;
    padding-right: 30px;
    padding-top: 50px; }
    #broucher2-content-box .white-side-text h4 {
      font-family: 'Arvo', serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-align: right;
      color: #806554;
      padding-bottom: 10px; }
    #broucher2-content-box .white-side-text h2 {
      font-family: 'Arvo', serif;
      font-weight: 700;
      font-size: 97px;
      line-height: 100%;
      text-transform: uppercase;
      color: #2E1B18; }
    #broucher2-content-box .white-side-text h3 {
      font-family: 'Arvo', serif;
      font-weight: 400;
      font-size: 50px;
      line-height: 62px;
      color: #2E1B18; }
  #broucher2-content-box .black-text-box {
    position: absolute;
    right: 0;
    top: 75%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
    background-color: #000;
    height: 130px;
    width: 392px;
    text-align: right;
    padding-right: 30px; }
    #broucher2-content-box .black-text-box h6 {
      font-family: 'Arvo', serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: right;
      color: #FFFFFF;
      padding-top: 15px; }
    #broucher2-content-box .black-text-box h3 {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 500;
      font-size: 47px;
      line-height: 100%;
      color: #C7B88F; }
  #broucher2-content-box .last-text {
    text-align: right;
    padding-top: 975px;
    padding-right: 30px; }
    #broucher2-content-box .last-text p,
    #broucher2-content-box .last-text a {
      font-family: 'Arvo', serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      text-align: right;
      color: #2E1B18; }

/*# sourceMappingURL=style.css.map */
